<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>    
        <center>
            <div class='cont'>
                <h2>Face mask detection</h2>
                <img style="max-width:300px; border-radius:1rem"
             src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fappliedtechnology.humber.ca%2Fshows%2Fict-capstone-projects%2Fthesis-projects%2Fface-mask-detection-alert-system.html&psig=AOvVaw0YqPAIpWI0EYRvJakK4xt5&ust=1651028118442000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCMDv3p7dsPcCFQAAAAAdAAAAABAE"
             alt="User Image" id="display_image">
            </div>
            
            <p>Các định dạng được hỗ trợ: PNG, JPG và JPEG</p>
            

        <form method="POST" action="{{url_for('home')}}" enctype="multipart/form-data">
            <input type="file" name='image' class='btn'><br><br><br>
            <input type="submit" class='btn'>
        </form>

    </center>

    </body>
</html>
